<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<% include header.ejs %>
		<!-- Main -->
			<section id="stuff" class="container 75%">
				<header>
					<h2><%= user %></h2>
				</header>
			</section>
			<div class='box' id='profile'>
				<p>Wins: <%= win %><br />
					Losses: <%= loss %><br />
					elo: <%= elo %></p>
				<% for (var i=0; i<row.length; i++) { %>
					<% if (row[i].sendTo == user ) { %>
						<p>Game request sent<br />
						<strong>Winner:</strong> <%= row[i].winner %>
						<strong>Second Place:</strong> <%= row[i].looser %></p>
					<% } %>
				<% } %>
			</div>
<% include footer.ejs %>
